<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton label="Tariffs" class="p-button-text" routerLink="/tariffs"></button>
    <button pButton label="Subscriptions" class="p-button-text" routerLink="/subscriptions"></button>
  </div>
  <div class="p-toolbar-group-right">
    <button routerLink="/account" pButton [label]="user()" class="p-button-text" (click)="apiService.toggleIsAdmin()"></button>
  </div>
</p-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
