<p-dialog [header]="'Tariff: ' + tariff?.name" [visible]="displayModal" modal="true" [closable]="false" [style]="{ width: '700px' }">
  @if (tariff; as tariff) {
  <div class="close-icon"><i class="pi pi-times" style="font-size: 1.5rem" (click)="displayModalChange.emit()"></i></div>
  <div class="flex flex-column gap-5">
    <div class="flex flex-column gap-2">
      <h3 class="m-0">Description</h3>
      <p class="m-0">{{ tariff?.description }}</p>
    </div>
    <div class="flex flex-column gap-2">
      <h3 class="m-0">Internet speed</h3>
      <p class="m-0">{{ tariff?.internetSpeed }} mbs</p>
    </div>
    <div class="flex flex-column gap-2">
      <h3 class="m-0">Data limit</h3>
      <p class="m-0">{{ tariff?.dataLimit ? tariff.dataLimit + ' GB' : 'None' }}</p>
    </div>
    <div class="flex flex-column gap-2">
      <h3 class="m-0">Price</h3>
      <p class="m-0">{{ tariff?.price | currency : 'USD' }}</p>
    </div>
    @if (tariff?.televisionOption; as televisionOption) {
    <div>
      <div class="flex flex-column gap-3">
        <h2 class="m-0">Television</h2>
        <div class="flex flex-column gap-1">
          <h3 class="m-0">Description</h3>
          <p class="m-0">{{ televisionOption.description }}</p>
        </div>
        <div class="flex flex-column gap-1">
          <h3 class="m-0">Type</h3>
          <p class="m-0">{{ televisionOption.packageType }}</p>
        </div>
        <div class="flex flex-column gap-1">
          <h3 class="m-0">Price</h3>
          <p class="m-0">{{ televisionOption.price | currency : 'USD' }}</p>
        </div>
      </div>
    </div>
    } @else {
    <div class="flex flex-column gap-2">
      <h3 class="m-0">Television</h3>
      <p class="m-0">None</p>
    </div>
    }
  </div>
  }
</p-dialog>
